{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    <div class="container">
        <div class="row">
            {% for products in product %}
                <div class="col-md-4">
                    <h2><a class="text-dark" href="{% url 'product' slug=products.id %}">{{ products.title }}</a></h2>
                    {% if products.picture %}
                        <a href="{% url 'product' slug=products.id %}"><img style="width: 300px; height: 300px;"
                                                                            src="
                                                                                    {{ MEDIA_URL }}{{ products.picture.url }}"
                                                                            alt=""></a>
                    {% endif %}
                    <p>{{ products.text|safe|truncatewords:150 }}</p>
                    <p><a class="btn btn-primary" href="{% url 'product' slug=products.id %}"
                          role="button"> Подробнее о товаре »</a></p>
                </div>
            {% endfor %}
        </div>
        <div class="container">
            <div class="paginator-div">
                <div class="col-12 justify-content-center">
                    {% bootstrap_pagination product %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}


