{% extends 'base.html' %}
{% load bootstrap4 %}
{% block content %}
    {{ foobar|safe }}
    <div class="row">
        {{ product.title }} <br>
        <a href="{% url 'add_to_card' slug=product.id %}">
            <button class="btn btn-success">В корзину</button>
        </a>
        {% if product.picture %}
        <img style="width: 300px; height: 200px;" src="{{ MEDIA_URL }}{{ product.picture.url }}" alt="">
        {% endif %}
        {{ product.text|safe }}<br>
        <br>
        <a>Цена: {{ product.price }}</a>
        <a href="{% url 'bay' slug=product.id %}">
            <button class="btn btn-success">Купить сейчас</button>
        </a>
    </div>

        <div>
            <a href="{% url 'comments' slug=product.id %}">Отзывы{{ comments }}</a>
        </div>
{% endblock %}
{% if user.is_authenticated %}
    <a href="{% url 'balance' %}">
        <button class="btn btn-success">Пополнить</button>
    </a>
{% endif %}

